{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="container transbox">
        <div class="row">
            <div class="col regulament">
                {% if app.session.get('language') == 'EN' %}
                    <h1><center>Persons of interest</center></h1>
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Role</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Mail</th>
                        </tr>
                {% else %}
                    <h1><center>Persoane de contact</center></h1>
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Functie</th>
                            <th scope="col">Nume</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Mail</th>
                        </tr>
                {% endif %}
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td class="role">{{ contact.role }}</td>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.phone }}</td>
                            <td>{{ contact.mail }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var role = $(".role");
            var lang = "{{ app.session.get('language') }}";
            if (lang == "EN") {
                for (var i = 0; i < role.length; i++) {
                    switch (role[i].textContent) {
                        case "Organizator":
                            role[i].textContent = "Organiser";
                            break;
                        case "Inscrieri":
                            role[i].textContent = "Registration";
                            break;
                        case "Suport tehnic":
                            role[i].textContent = "Technical Support";
                            break;
                    }
                }
            }
            else {
                for (var i = 0; i < role.length; i++) {
                    switch (role[i].textContent) {
                        case "Organiser":
                            role[i].textContent = "Organizator";
                            break;
                        case "Registration":
                            role[i].textContent = "Inscrieri";
                            break;
                        case "Technical Support":
                            role[i].textContent = "Suport tehnic";
                            break;
                    }
                }
            }
        })
    </script>
{% endblock %}