{% extends 'base.html.twig' %}

{% block title %} Invitation {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <iframe src="{{ asset(invitation) }}" width="100%" height="1000px"></iframe>
            </div>
        </div>
    </div>

{% endblock %}