{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}

    <div class="container transbox">
        <div class="row">
            {% for group in program.programGroups %}
                <div class="col-sm-12 col-lg-6 regulament">
                    <h2><center>{{ group }}</center></h2>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">COMPETITII</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in group.programItems %}
                            <tr>
                                <td>{{ item }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}