{% extends 'base.html.twig' %}

{% block title %}Competitors{% endblock %}

{% block body %}

    <div class="container transbox">
        <div class="row">
                <div class="col regulament">
                    <h1><center>Registered Competitors</center></h1>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nume Baiat</th>
                            <th scope="col">Nume Fata</th>
                            <th scope="col">Categorie</th>
                            <th scope="col">Dansuri</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for competitor in competitors %}
                            <tr>
                                <td>{{ competitor.gentlemanName }} {{ competitor.gentlemanSurname }}</td>
                                <td>{{ competitor.ladyName }} {{ competitor.ladySurname }}</td>
                                <td>{{ competitor.class }} {{ competitor.age }}</td>
                                <td>
                                    {% for dance in competitor.dance %}
                                        <span>{{ dance }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

{% endblock %}