{% extends 'base.html.twig' %}

{% block title %}Regulament{% endblock %}

{% block stylesheets %}

    <style>
        .regulament {
            overflow: auto;
            font-weight: bold;
            color: #000000;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="container transbox">
        <div class="row">
            <div class="col regulament" id="regulament">
                    {{ regulament | nl2br }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            var text1 = String($('#regulament').html());
            var len = text1.length;
            var line = [];
            while ( len > 0) {
                line.push(text1.slice(0,text1.indexOf('<br>')+4));
                text1 = text1.substring(text1.indexOf('<br>')+4);
                len = text1.length;
            }
            $('#regulament').html(line.join("<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "));
        })
    </script>

{% endblock %}