{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}

    <div class="container transbox">
        <div class="row">
            <div class="col regulament">

                {% for result in results %}
                    <a href="{{ asset('results/' ~ result.filename) }}">{{ result.filename }}</a><br>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}