{% extends 'base.html.twig' %}

{% block title %} Canceled Payment {% endblock %}

{% block body %}

<div class="card justify-center transbox" style="width: 18rem;">
    <div class="regulament text-center">
        <h1>Payment canceled</h1>
    </div>
</div>

{% endblock %}