{% extends 'base.html.twig' %}
{% block title %}SSC Checkout{% endblock %}

{% block body %}

    <div class="card justify-center transbox" style="width: 18rem;">
        <div class="regulament text-center">

    <div class="nav-space-checkout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="checkout-header">REGISTER</h1>
                </div>
                <div class="col-xs-12 col-sm-6">
                    Top Dance
                </div>
                <!--
                <div class="col-xs-12 col-sm-6" style="opacity: 1;">
                    <form action="" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{# stripe_public_key #}"
                                data-amount="{# tax #}"
                                data-name="Top Dance"
                                data-description="Taxa inscriere concurs"
                                data-image=""
                                data-zip-code="false"
                                data-currency="ron"
                                data-locale="ro">
                        </script>
                    </form>
                </div>
                -->
            </div>
        </div>

        <button id="checkout-button">Pay</button>
        <script>
            var stripe = Stripe('{{ stripe_public_key }}');

            var checkoutButton = document.getElementById('checkout-button');

            checkoutButton.addEventListener('click', function() {
                stripe.redirectToCheckout({
                    // Make the id field from the Checkout Session creation API response
                    // available to this file, so you can provide it as argument here
                    // instead of the {#CHECKOUT_SESSION_ID#} placeholder.
                    sessionId: '{{CHECKOUT_SESSION_ID}}'
                }).then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
            });
        </script>

        </div>
    </div>
</div>
{% endblock %}
