<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>


            <style>
                body {
                    background: rgba(0, 128, 0, 0.3);
                }
                .fundal {
                    background-image: url("https://www.grandprixonline.eu/fundal.jpg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    opacity: 1;
                }
                .logo {
                    height: 100px;
                }
                .nav-item {
                    font-size: x-large;
                }
                .transbox {
                    margin: auto;
                    background-color: #ffffff;
                    border: 1px solid black;
                    opacity: 0.5;
                }
                .regulament {
                    overflow: auto;
                    font-weight: bold;
                    color: #000000;
                }
            </style>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid fundal">

        <div class="row">
            <div class="col">
                <a href="{{ path('flag_language', {'language': 'RO'}) }}"><img src="{{ asset('Romania-128.png') }}" style="float:right" id="ROflag"></a>
                <a href="{{ path('flag_language', {'language': 'EN'}) }}"><img src="{{ asset('united-states-circle-128.png') }}" style="float: right" id="USflag"></a>
                {% if app.session.get('language') == 'EN' %}
                    {% include "menu/en_menu.html.twig" %}
                {% else %}
                    {% include 'menu/menu.html.twig' %}
                {% endif %}
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#ROflag').hide();
            var lang = "{{ app.session.get('language') }}" ;
            //console.log(lang);
            if (lang == "EN") {
                $("#ROflag").show();
                $("#USflag").hide();
            }
            else {
                $("#USflag").show();
                $("#ROflag").hide();
            }
        })
    </script>

    </body>
</html>
