{% extends 'base.html.twig' %}

{% block title %}Edit Competitor{% endblock %}

{% block body %}
    <h1>Edit Competitor</h1>

    {{ include('competitor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('competitor_index') }}">back to list</a>

    {{ include('competitor/_delete_form.html.twig') }}
{% endblock %}
