{% extends 'base.html.twig' %}

{% block title %}Competitor index{% endblock %}

{% block body %}
    <h1>Competitor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>GentlemaName</th>
                <th>GentlemanSurname</th>
                <th>LadyName</th>
                <th>LadySurname</th>
                <th>Email</th>
                <th>StripeCustomerId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr>
                <td>{{ competitor.id }}</td>
                <td>{{ competitor.gentlemaName }}</td>
                <td>{{ competitor.gentlemanSurname }}</td>
                <td>{{ competitor.ladyName }}</td>
                <td>{{ competitor.ladySurname }}</td>
                <td>{{ competitor.email }}</td>
                <td>{{ competitor.stripeCustomerId }}</td>
                <td>
                    <a href="{{ path('competitor_show', {'id': competitor.id}) }}">show</a>
                    <a href="{{ path('competitor_edit', {'id': competitor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competitor_new') }}">Create new</a>
{% endblock %}
