{% extends 'base.html.twig' %}

{% block title %}New Competitor{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="card justify-center transbox" style="width: 18rem;">
    <div class="regulament text-center">

    <h1>Create new Competitor</h1>

    {{ include('competitor/_form.html.twig') }}

    <!--<a href="{# path('competitor_index') #}">back to list</a>-->

    </div>
</div>
{% endblock %}
