{% extends 'base.html.twig' %}

{% block title %}Competitor{% endblock %}

{% block body %}

<div class="transbox justify-center">
<!--<div class="container " style="width: 18rem;">-->
    <div class="regulament text-center">

    <h1>Competitor</h1>

    <table class="table">
        <tbody>
            <!--
            <tr>
                <th>Id</th>
                <td>{# competitor.id #}</td>
            </tr>
            -->
            <tr>
                <th>GentlemaName</th>
                <td>{{ competitor.gentlemanName }}</td>
            </tr>
            <tr>
                <th>GentlemanSurname</th>
                <td>{{ competitor.gentlemanSurname }}</td>
            </tr>
            <tr>
                <th>LadyName</th>
                <td>{{ competitor.ladyName }}</td>
            </tr>
            <tr>
                <th>LadySurname</th>
                <td>{{ competitor.ladySurname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ competitor.email }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ competitor.phone }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ competitor.class }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ competitor.age }}</td>
            </tr>
            <!--
            <tr>
                <th>StripeCustomerId</th>
                <td>{# competitor.stripeCustomerId #}</td>
            </tr>
            -->
        </tbody>
    </table>
        <div class="container">
            <h2> Choose Dances </h2>
        <form action="{{ path('competitor_dances', {'id': competitor.id}) }}" method="post">
            {% for dance in dances %}
                <input type="checkbox" id="{{ dance }}" name="dances[]" value="{{ dance }}">
                <label for="{{ dance }}"> {{ dance }}</label><br>
            {% endfor %}
            <input type="submit" value="Finish Registration" class="regulament btn-success">
        </form>
        </div>
    </div>
<!--</div>-->
</div>
    <!--
    <a href="{# path('competitor_index') #}">back to list</a>

    <a href="{# path('competitor_edit', {'id': competitor.id}) #}">edit</a>
    -->
    {# include('competitor/_delete_form.html.twig') #}
{% endblock %}
