
<nav class="navbar navbar-expand-lg navbar-light justify-content-center" style="background-color: rgba(0, 50, 0, 0.1);" id="menu">
    <a class="navbar-brand" href="#"><img src="{{ asset('LOGO_TDGP.jpg') }}" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('regulament') }}">Informatii generale </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('invitation') }}">Noutati </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Program
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('program', {'day': 'SAMBATA'}) }}">SAMBATA</a>
                    <a class="dropdown-item" href="{{ path('program', {'day': 'DUMINICA'}) }}">DUMINICA</a>
                </div>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="https://www.grandprixonline.eu/index.php/competitor/new">Inscriere </a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('registered_competitor') }}">Concurenti </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('results') }}">Rezultate </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://youtu.be/f32dsv-5Tbk">Streaming </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Contact </a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            -->
        </ul>
    </div>
</nav>